@import url(https://fonts.google.com/specimen/Outfit);
:root{
    --background:hsl(212, 45%, 89%);
    --box:hsl(0, 0%, 100%);
    --font1:hsl(218, 44%, 22%);
    --font2:hsl(220, 15%, 55%);
    --lnk:rgb(196, 185, 255);
    --footer:hsl(265, 100%, 6%);

    --default-font: 'Outfit', Arial, Sans-Serif;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a{
    color: var(--lnk);
}

a:hover{
    transition-duration: .40s;
    opacity: 0.5;
        
}

body{
    background: var(--background);
    font-family: var(--default-font);
}

div.box{
    max-width: 400px;
    background-color: var(--box);
    text-align: center;
    border-radius: 1rem;
    box-sizing: border-box;
    width: 50%;
    margin: 50px auto 0;
    padding: 20px;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}

h3{
    font-size: 20px;
    color: var(--font1);
    padding: 20px;
}

p{
    font-size: 15px;
    color: var(--font2);
}

footer{
    margin-top: 23px;
    background-color: var(--footer);
    text-align: center;
    color: var(--box);
    padding: 10px;
    font-family: var(--default-font);
}